[BASIC]
good-names=path,max_lim,test,min_lim,max_seat,min_seat,byr_flag,counter2,counter1,iyr_flag,value,eyr_flag,hgt_flag,hcl_flag,ecl_flag,pid_flag,cid_flag,filename,lncnt,validCounter,totalCounter,counter,count,flag,newcheck,col_offset,row_offset,prod_flag
